!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to myflix.com, #{@user.name}
    %p
      You have successfully signed up to myflix.com,
      your username is: #{@user.name}.
      %br/
    %p
    %p Thanks for joining and have a great day!