!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %br
    此為系統信，勿直接回覆。若有任何問題請來信
    = link_to "info@hanchor.com", "mailto:info@hanchor.com",:target => "_blank"
    
    %p
      Hi #{@user.name},
      %br
      %br
      以下為您登入HANCHOR的帳號資料
      %br
      郵件地址:
      = @user.email
      %br
      請透過以下連結更新你的密碼，謝謝！
      %br
      = link_to "重設密碼", password_reset_url(@user.token,locale: "zh")

      %br
      %br
      HANCHOR Official Store
      %br
      %a{:href => "mailto:info@hanchor.com", :style => "color: rgb(17, 85, 204);", :target => "_blank"} info@hanchor.com
      %br
      %a{:href => "http://www.hanchor.com/", :style => "color: rgb(17, 85, 204);", :target => "_blank"} www.hanchor.com
      %br
