!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Reset Password
    %p
      = link_to "Reset", password_reset_url(@user.token)