!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %br
    Please don’t reply this mail directly. If you have any question, please contact us at
    = link_to "info@hanchor.com", "mailto:info@hanchor.com",:target => "_blank"
    %br
    \--------------------------------------
    
    %p
      Hi #{@user.name},
      %br
      %br
      Following is the information you requested.
      %br
      Email:
      = @user.email
      %br
      Please use the folllowing link to reset your password
      %br
      = link_to "Reset Password", password_reset_url(@user.token)

      %br
      %br
      HANCHOR Official Store
      %br
      %a{:href => "mailto:info@hanchor.com", :style => "color: rgb(17, 85, 204);", :target => "_blank"} info@hanchor.com
      %br
      %a{:href => "http://www.hanchor.com/", :style => "color: rgb(17, 85, 204);", :target => "_blank"} www.hanchor.com
      %br
