:javascript
  var drivemill_script = document.createElement('script');
  drivemill_script.type = 'text/javascript';
  drivemill_script.src = 'https://drivemill.com/js?key=75fba00d028ddc50118e3';
  drivemill_script.async = true;
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(drivemill_script);
:javascript
  // _drivemill_total_price should be the total price of the order (do not include currency)
  // e.g. 22.00 
  _drivemill_total_price = "#{@order.total}";
  _drivemill_currency = 'TWD';
  _drivemill_order_id = '#{@order.code}';
  _drivemill_customer_email = "#{current_user.email}";