%fieldset
  %ul#nav.faq
    %li
      = link_to t('faq.guide'), shopping_guide_path
    - if params[:locale] && ["zh-TW","zh"].include?( params[:locale] )
      %li 
        = link_to t('faq.faq'), faq_path