.span3
  = render partial: "faq_side"

.span8
  %h3 1. 為何使用PAYPAL信用卡交易被收取國外交易手續費?
  %p
    因為信用卡銀行與PAYPAL 之間認定的不同，有部分銀行認為PAYPAL為外商，均使用美金交易因此誤收這筆費用，若帳單上出現這筆費用的網友均可向HANCHOR 客服反映，將有專人為您與PAYPAL 公司協調退費事宜。
  %h3 2. 哪裡有 HANCHOR 的經銷點?
  %p
  %div{:style => "font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal; "}
    %span{:style => "background-color: rgb(255, 255, 255); font-family: 'lucida grande', tahoma, verdana, arial, sans-serif; line-height: 14px; "}
      %font{:size => "2"} HANCHOR 商品主要以官網為主，目前台灣有五個經銷據點展示部分商品&nbsp;
  %div{:style => "font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal; "}
    %span{:style => "background-color: rgb(255, 255, 255); font-family: 'lucida grande', tahoma, verdana, arial, sans-serif; line-height: 14px; "}
      %font{:size => "2"}
        %br/
  %div{:style => "font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal; "}
    %font{:size => "2"}
      %span{:style => "background-color: rgb(255, 255, 255); font-family: 'lucida grande', tahoma, verdana, arial, sans-serif; line-height: 14px; "} UNDER PEACE
      %span{:style => "background-color: rgb(255, 255, 255); font-family: 'lucida grande', tahoma, verdana, arial, sans-serif; line-height: 14px; "} &nbsp;
  %font{:size => "2", :style => "font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal; "}
    .text_exposed_show{:style => "display: inline; font-family: 'lucida grande', tahoma, verdana, arial, sans-serif; line-height: 14px; background-color: rgb(255, 255, 255); "}
      地址:台北市大安區延吉街62巷9號1F
      %br
      %br
      VINTAGE&nbsp;
      %br
      地址:西門新宿大樓 5 F 32 / 10 室
      %br
      %br
      台北山水&nbsp;
      %br
      地址:台北市中正區中山北路一段12號
      %br
      %br
      登山友中山店
      %br 
      地址:台北市中正區中山北路一段22號
  %div{:style => "font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal; "}
    %font{:size => "2"}
      .text_exposed_show{:style => "display: inline; font-family: 'lucida grande', tahoma, verdana, arial, sans-serif; line-height: 14px; background-color: rgb(255, 255, 255); "}
        %br/
  %div
    %font{:size => "2"}
      .text_exposed_show{:style => "display: inline; background-color: rgb(255, 255, 255); "}
        %font{:face => "lucida grande, tahoma, verdana, arial, sans-serif"}
          %span{:style => "line-height: 14px;"} iClimb風城攀岩館
  %div
    %font{:size => "2"}
      .text_exposed_show{:style => "display: inline; background-color: rgb(255, 255, 255); "}
        %font{:face => "lucida grande, tahoma, verdana, arial, sans-serif"}
          %div
            %span{:style => "font-size: 13px; line-height: 14px; "} 地址:
            %span{:style => "line-height: 14px; "} 新竹縣竹北市成功二街98號
          %div
            %span{:style => "line-height: 14px; "}
              %br/
          %div
            %span{:style => "line-height: 14px; "} STONE 攀岩館
          %div
            %span{:style => "line-height: 14px; "}
              %br/
          %div
            %span{:style => "line-height: 14px; "} 地址: 新北市新莊區三合路58-12號
    %font{:size => "2"}
      .text_exposed_show{:style => "display: inline; background-color: rgb(255, 255, 255); "}
        %br
          %font{:face => "lucida grande, tahoma, verdana, arial, sans-serif", :size => "2"}
            %span{:style => "line-height: 14px;"} * 由於各店展示商品數量不同，建議想看特定商品的朋友先行來信info@hanchor.com 詢問
      %span{:style => "font-family: 'lucida grande', tahoma, verdana, arial, sans-serif; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: 14px; background-color: rgb(255, 255, 255); "} 。
  %p
  %h3 3. 如何在HANCHOR購物？
  %p
  %div
    %font{:size => "2"} ※在HANCHOR購物刷卡，全程採用PAYPAL第三方金流系統，可選擇使用PAYPAL帳戶或直接線上刷卡，這項服務讓任何人自由選擇偏好方式付款，包含信用卡、銀行帳戶、PayPal Smart Connect或帳戶餘額，無須透露財務資料給其人。
  %div
    %font{:size => "2"} 　
  %div
    %font{:size => "2"} ※您亦可透過銀行ATM轉帳方式完成您的購物需求。請在交易確認後3天內轉入您的帳款。如您無法在期限內轉帳，我們將取消您的訂單；如有造成您的不便，敬請見諒。
  %div
    %font{:size => "2"} 當您完成轉帳程序後請至您的帳號中通知訂單已匯款或來信告知，我們確認無誤後將盡快寄送商品。
  %div
    %font{:size => "2"}
      %br/
  %div
    %font{:size => "2"} ※您亦可選擇郵局配送貨到付款方式付費
  %div{:style => "font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal; "}
    %br/
  %p
  %h3 4. HANCHOR購物運費如何計算？
  %p
  %div
    %font{:face => "Arial, Verdana", :size => "2"} HANCHOR運費以單筆訂單方式計費:&nbsp;
  %div
    %font{:face => "Arial, Verdana", :size => "2"}
      %br/
  %div
    %font{:face => "Arial, Verdana", :size => "2"} 1.郵局配送到府運費 NT$100&nbsp;
  %div
    %font{:face => "Arial, Verdana", :size => "2"} 2.全家、萊爾富、ok超商取貨運費 NT$80
  %div
    %font{:face => "Arial, Verdana", :size => "2"} 3. 台灣郵局配送國際訂單運費 NT$600
  %div
    %font{:face => "Arial, Verdana", :size => "2"} 4.郵局配送貨到付款運費 NT$150
  %p
  %h3 5. 網路下訂單後，幾天可以收到商品？
  %p
  %div
    %font{:size => "2"} 國內訂單在確認有庫存且完成購買程序後，HANCHOR會盡快寄出您的商品。商品將於您付款完成後的7個工作天內送達您指定的地址。
  %div
    %font{:size => "2"}
      %br/
  %div
    %font{:size => "2"} 國際訂單將根據寄送目的不同需要7~30個工作天送達。
  %p
  %h3 6. 已經過了七個工作天了，東西還是沒收到?
  %p
  %div
    %font{:size => "2"} 可能是商品在運送過程產生異常，請您寄信至info@hanchor.com，客服人員將會為您查詢貨品的運送狀況。
  %div{:style => "font-size: 10pt; "}
    %br/
  %p
  %h3 7. 如何使用全家、萊爾富、ok超商到店取貨方式收件？
  %p
  %div
    %font{:size => "2"} ※HANCHOR提供買家全國4200家便利商店超商取貨的服務。(恕不接受全家、萊爾富、ok之外其他連鎖體系便利商店取貨)
  %div
    %font{:size => "2"} ※於網路下訂單同時選擇您所希望取貨的超商門市，貨物寄送抵達的時候將會簡訊通知您前往領取。
  %div
    %font{:size => "2"} ※便利商店取貨，為配合門市人員核定身份，請務必使用收件人本名，取貨時請隨身攜帶身份證明，以方便門市人員核對。
  %div{:style => "font-size: 10pt; "}
    %br/
  %p
  %h3 8. 如何查詢訂單？
  %p
  %div
    %font{:size => "2"} ※凡經由HANCHOR下單後，您可隨時透過HANCHOR網站我的帳戶裡的訂單查詢系統作線上查詢，立即知道您的訂單與商品現階段的處理流程。
  %div
    %font{:size => "2"} ※或是您可來信info@hanchor.com，將有專人為您服務。
  %p
  %h3 9. 如何退換貨？
  %p
    %font{:face => "Arial, Verdana", :size => "2"} 根據消費者保護法之規定，HANCHOR提供商品到貨七天猶豫期隨時解約退貨之權益，但提醒您注意，商品退貨時必須為全新狀態且完整包裝（ 包含商品、附件、保證卡、內外包裝、隨機文件、贈品等）。若商品為新品瑕疵或商品之情形，煩請將商品在一週內寄回(台北市信義區和平東路三段391巷20弄30號)進行退換貨。如回收件姓名與地址有任何更改，請務必迅速通知HANCHOR做資料變更。
  %h3 10. 若有商品要送修或相關疑問，應與何處聯繫？
  %p
  %div
    %span{:style => "font-family: Arial, Verdana; "}
      %font{:size => "2"} 請來信客服info@hanchor.com,將有專人與您盡速聯絡。
  %p