.span3
  = render partial: "faq_side"

.span8
  %h2 國內訂單(Taiwan)
  %h3 國內運送方式
  %p
    %strong -郵局配送
    %br
    %strong -超商取貨(全家、OK、萊爾富)
    %br
    國內訂單在確認有庫存且完成購買程序後，HANCHOR會盡快寄出您的商品。商品將於您付款完成後的7個工作天內送達您指定的地址。
    %br
    ※ 一般商品於付款後7個工作天內可送達，而無現貨或客製化商品須於收到訂單後進行生產排程，耗時較久，所需等候的時間請見商品敘述。
    %br
    ※ 每週六、日與國定假日: 尚有購物系統服務，但無寄送服務。(將順延寄送)
    %br
    ※ 如超過一週尚未到訂購之商品，請與客服聯繫(info@hanchor.com)，HANCHOR將迅速為您處理。
    %h3 付費方式
  %p
    %strong -郵局配送貨到付款
    %br
    %strong -銀行匯款或ATM轉帳
    %br
    轉帳匯款至指定之帳戶，匯款後請至您的帳號中通知訂單已匯款或來信告知，我們確認無誤後將盡快寄送商品。
    %br
    ※ 為保障其他購買人的權益，務必於3日內完成匯款轉帳，若在3日內未完成匯款者，將取消當筆訂單。
    %br
    %strong -線上刷卡
    %br
      Paypal系統線上刷卡
  %h2 售後服務(After-sales Services)
  %h3 維修保固
  %p
    購買HANCHOR商品附保證卡 (商品敘述中載明之特殊商品除外)，附保證卡之商品享有終生維修的服務。自購買日(以商品寄送日為準)起一年內正常使用下發生之任何故障，HANCHOR提供免費維修的服務；若超過一年我們仍會盡可能提供免費維修服務，但若毀損嚴重，仍須依實際狀況評估維修的可行性及費用。
    惟下列情況不在保固範圍內，敬請見諒。
    %br
    1. 無法提供保證卡時。
    %br
    2. 因不當使用，改造等人為疏失造成之損壞。
    %br
    ※保證卡請妥善保管，維修時請務必與商品一併提出，如有遺失恕不補發。
    %br
    ※寄送維修品產生之全額運費由顧客負擔
    %br
    ※維修所需工作天數及費用將於商品送達另行通知顧客。
  %h3 退換貨規定
  %p
    根據消費者保護法之規定，HANCHOR提供商品到貨七天猶豫期隨時解約退貨之權益，但提醒您注意，商品退貨時必須為全新狀態且完整包裝（ 包含商品、附件、保證卡、內外包裝、隨機文件、贈品等）。若商品為新品瑕疵或商品之情形，煩請將商品在一週內寄回進行退換貨。如回收件姓名與地址有任何更改，請務必迅速通知HANCHOR做資料變更。