#account_sidemenu
  %fieldset
  %ul#nav
    %li
      = link_to t('account.my_account'), account_path
    %li
      = link_to t('account.info'),  account_info_path
    %li
      = link_to t('account.order'), account_orders_path