#about-detail {
	width: 760px;
	margin: 0 auto;
	padding-bottom: 30px;
	color: #333;
	.title {
		h3 {
			text-align: center;
		}
		p {
			margin: 20px 0;
		}
	}
	img{
		margin-top: 10px;
		max-width: 740px;
	}
}