#account_main {
    h2{
        padding-left: 10px;
        color:#E39633;
        font-size: 24px;
    }
    .content, .items, p {
        padding: 0 80px;
        margin-bottom: 10px;
        line-height: 24px;
    }
    .item-name {
        width: 80px;
        color: #999;
    }
    .btn-warning {
        color: #FFF;
    }
}

#last_order {
    margin-bottom: 20px;
}

.confirmed {
    margin: 20px 0;
    .notice {
        color: #666;
        line-height: 30px;
        margin-right: 10px;
    }
}
