.nav-head a.brand-logo {
	padding: 10px 10px 0 10px;
}
.nav-func {
	width: 630px;
	.navbar-nav {
		li > a {
			padding: 8px;
		}
	}
}
.nav-blue {
	border: 1px solid #0070C0;
}
.nav-green {
	border: 1px solid #00B050;
}
.nav-yellow {
	border: 1px solid #FFC000;
}
.nav-red {
	border: 1px solid #960000;
}
.nav-purple {
	border: 1px solid #7223AD;
}

.main-nav {
	padding-left: 3px;
	padding-bottom: 3px;
	li {
		width: 103px;
		text-align: center;
		margin-right: 3px;
		background-color: shade($color-grey, 60%);
		a {
			font-size: 12px;
			padding: 4px 5px;
		}
	}
}

.navbar-inverse .navbar-nav > li > a {
	color: #eee;
	&:hover {
		color: tint($color-grey, 30%);
	}
}

header {
	width: 100%;
	background-color: #000000;
	.nav-full {
		width: 960px;
		max-width: 960px;
		margin: 0 auto;
	}
	.navbar {
		margin-bottom: 0px;
		border-radius: 0px;
	}
	.func-nav {
		width: 300px;
		text-align: right;
		margin-top: 30px;
		li {
			float: right;
		}
	}
	.lang-nav {
		margin-top: 30px;
	}
}