#main {
	.news-title {
		margin-top: 5px;
		margin-bottom: 15px;
		padding-left: 30px;
		a {
			color: #E39633;
		}
	}
	.news_item {
		border-bottom: 1px solid #ccc;
		.content {
			margin: 10px 0 20px 0;
			img {
				max-width: 625px;
			}
		}
		.read-more {
			margin-top: 10px;
			background-color: #d3d3d3;
			padding: 5px 10px;
			width: 90px;
			text-align: center;
			a {
				color: #888;
				font-weight: bold;
			}
		}
	}
	.pagination {
		.active {
			background-color: #A7440F;
			color: #FFF;
		}
	}
}