#main {
	.news-head {
		.postdate {
			padding: 3px 5px;
			margin-top: 7px;
			// background-color: #eee;
			// @include border-radius(6px);
		}
	}
	.news-title {
		margin-top: 5px;
		margin-bottom: 15px;
		padding-left: 10px;
		a {
			color: #E39633;
		}
	}
	.news_item {
		border-bottom: 1px solid #ccc;
		.content {
			margin: 10px 0 20px 0;
			img {
				max-width: 625px;
			}
		}
		.read-more {
			margin-top: 15px;
		}
	}
	.pagination {
		.active {
			background-color: #A7440F;
			color: #FFF;
		}
	}
	.news-head {
		h4 {
			font-size: 20px;
		}
	}

	.product_thumbs {
    background: none repeat scroll 0 0 #F6F7F9;
    border: 1px solid #BBBBBB;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 370px;
    margin: 6px 3px;
    padding: 10px;
    vertical-align: top;
    width: 225px;
    img {
      width: 205px;
    }
    .p-name {
      padding: 8px 0;
      font-weight: bold;
    }
    .p-price {
      padding-bottom: 8px;
      color: #333;
    }
    .p-overview {
      line-height: 20px;
      color: #333;
    }
  }

	#news .news_thumbs {

		background: none repeat scroll 0 0 #F6F7F9;
    border: 1px solid #BBBBBB;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    margin: 6px 3px;
    padding: 10px;
    vertical-align: top;
    width: 225px;
    img {
      width: 100%;
    }
    .title {
      padding: 8px 0;
      font-weight: bold;
      color: black;
    }
	}

  .center-div{
    text-align: center;
    width: 100%;
    margin-top: 30px;

    .load-more{
      margin-bottom: 30px;
    }
  }

  .select_category{
    margin: 6px 3px;
  }
}