#footer_frame
  #footer.footer_tw
    %ul#nav
      %li
        %a{:href => "/home/aboutus"} 關於我們
      %li
        %a{:href => "/home/news"} 部落格
      %li
        %a{:href => "/home/product/packing/"} 包 款
      %li
        %a{:href => "/home/product/accessories/"} 配 件
      %li
        %a{:href => "/home/product/apparel/"} 衣 著
      %li
        %a{:href => "/home/product/others/"} 其 他
      %li
        %a{:href => "/home/product/customization/"} 客製化
      %li
        %a{:href => "/home/deal"} 限量優惠
      %li
        %a{:href => "/home/faq"} 問與答
    %div{:style => "position:absolute; right:10px; top:10px"}
      / PayPal Logo
      %table{:align => "center", :border => "0", :cellpadding => "5", :cellspacing => "0"}
        %tbody
          %tr
            %td{:align => "center"}
          %tr
            %td{:align => "center"}
              %a{:href => "http://paypal.com"}
                %img{:alt => "Additional Options", :border => "0", :src => "https://www.paypal.com/en_US/Marketing/i/banner/bnr_accept_120x30_y.gif"}/
      / PayPal Logo
    %p{:style => "clear:both"}
      %a{:href => "maito://info@hanchor.com"} info@hanchor.com
      %br
        Copyright 2012 ©
        %a{:href => "/home/", :style => "color:#fff"} HANCHOR
        All Rights Reserved