#footer_frame
  #footer.footer_tw
    %div{:style => "position:absolute; right:10px; top:10px"}
      / PayPal Logo
      %table{:align => "center", :border => "0", :cellpadding => "5", :cellspacing => "0"}
        %tbody
          %tr
            %td{:align => "center"}
          %tr
            %td{:align => "center"}
              %a{:href => "http://paypal.com"}
                %img{:alt => "Additional Options", :border => "0", :src => "https://www.paypal.com/en_US/Marketing/i/banner/bnr_accept_120x30_y.gif"}/
      / PayPal Logo
    %p{:style => "clear:both"}
      %a{:href => "maito://info@hanchor.com"} info@hanchor.com
      %br
        Copyright 2012 ©
        = link_to "HANCHOR",root_path, style: "color:#fff"
        All Rights Reserved